<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SmartCarBooking</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>KohinoorLatin-Black-BF63c76510c679a.otf</string>
		<string>KohinoorLatin-BlackItalic-BF63c76510c5583.otf</string>
		<string>KohinoorLatin-Bold-BF63c76513f09da.otf</string>
		<string>KohinoorLatin-BoldItalic-BF63c7651386cfd.otf</string>
		<string>KohinoorLatin-Book-BF63c76513e60f1.otf</string>
		<string>KohinoorLatin-BookItalic-BF63c76513bc679.otf</string>
		<string>KohinoorLatin-Demi-BF63c765144638d.otf</string>
		<string>KohinoorLatin-DemiItalic-BF63c7651389346.otf</string>
		<string>KohinoorLatin-Light-BF63c76513209af.otf</string>
		<string>KohinoorLatin-LightItalic-BF63c7651347850.otf</string>
		<string>KohinoorLatin-Medium-BF63c76513dba4c.otf</string>
		<string>KohinoorLatin-MediumItalic-BF63c76513cfcb2.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
